@use "../../styles/abstracts/media" as *;

.content {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 60px;
  background-color: var(--primary-color-dark);

  h2 {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    @include mobile-s {
      top: 40px;
      left: auto;
      transform: translateX(0);
    }

    @include mobile-s {
      top: 20px;
    }
  }
}

.sectionSlider {
  height: auto;
}

.gsapSlider {
  height: 100vh;
}

.gsapBl {
  width: 100%;
}

.gsapInner,
.gsapTrack {
  display: flex;
}

.gsapInner {
  width: calc(100% + 60px);
}

.gsapTrack {
  display: flex;
  width: max-content;
  will-change: transform;
}

.gsapSlider .content,
.gsapH,
.gsapBl,
.gsapInner,
.gsapItem {
  height: 100%;
}
