@use "../../../../styles/abstracts/media" as *;
@use "../../../../styles/abstracts/mixins" as *;

.socialLink {
  @include flex-center;
  @include square(var(--social-size));

  border: var(--border-dark);
  border-radius: var(--border-radius-small);
  cursor: pointer;

  svg {
    @include square(24px);

    @include mobile {
      @include square(20px);
    }

    path {
      fill: var(--primary-color-dark);
      transition: fill 0.3s ease;
    }
  }

  @include hover {
    background-color: var(--primary-color-dark);

    svg path {
      fill: var(--primary-color-light);
    }
  }
}
