.heroTitle {
  margin-bottom: 32px;
  max-width: 540px;
  font-size: 48px;
  font-weight: 400;
  color: var(--primary-color-dark);

  &Strong {
    font-weight: 800;
  }

  &Decoration {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;

    &Stroke {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      color: transparent;
      -webkit-text-stroke: 8px var(--primary-color-dark);
    }

    &Fill {
      position: relative;
      white-space: nowrap;
      color: var(--primary-color-light);
    }
  }
}
