@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.title {
  @include fluid-text(48, 28);

  margin-bottom: 32px;
  max-width: 540px;
  font-weight: 400;
  color: var(--primary-color-dark);

  @include tablet {
    text-align: center;
  }

  &Strong {
    font-weight: 800;
  }

  &Decoration {
    @include fluid-text(48, 28);

    position: relative;
    display: inline-block;
    margin-right: 6px;
    font-weight: 700;
    line-height: 1.2;

    &Stroke {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      color: transparent;
      -webkit-text-stroke: 8px var(--primary-color-dark);
    }

    &Fill {
      position: relative;
      white-space: nowrap;
      color: var(--primary-color-light);
    }
  }
}
