.title {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 400;
  color: var(--primary-color-dark);

  &Block {
    margin-bottom: 40px;
  }

  &Light {
    color: var(--primary-color-light);
  }

  span {
    font-weight: 800;
  }
}
