@use "../../styles/abstracts/media" as *;

.contactSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  @include tablet {
    flex-direction: column-reverse;
  }
}
