.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-block: 24px;

  &Privacy {
    text-align: center;
    color: var(--primary-color-light);
  }
}
