@use "../../../styles/abstracts/media" as *;

.contactContent {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include tablet {
    h2 {
      max-width: 320px;
    }
    p {
      text-align: center;
    }
  }
}
