@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.navLink {
  @include fluid-text(20, 16);

  display: flex;
  font-weight: 600;
  padding-inline: 4px;
  color: var(--primary-color-dark);
  text-align: center;
  border-radius: var(--border-radius-medius);
  outline: none;
  cursor: pointer;
}
