@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.navLink {
  @include fluid-text(20, 16);

  display: flex;
  font-weight: 600;
  color: var(--primary-color-dark);
  text-align: center;
  cursor: pointer;

  @include hover {
    font-weight: 700;
  }
}
