@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.projectItem {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1240px;
  width: 80%;
  will-change: transform;

  @include desktop {
    width: 100vw;
  }

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    gap: 40px;
    width: 80vw;
  }
}

.projectItem + .projectItem {
  margin-left: 80px;

  @include mobile {
    margin-left: 100px;
  }
}

.projectImage {
  max-width: 530px;
  width: 100%;
  border-radius: var(--border-radius-medius);
}

.projectNumber {
  font-size: 48px;
  font-weight: 800;
  color: var(--primary-color-light);
}

.projectTitle {
  @include fluid-text(32, 20);

  font-weight: 700;
  color: var(--primary-color-light);
}

.projectLink {
  transition: all 0.5s ease-in;

  @include hover {
    svg {
      transform: scale(1.1);
    }
  }
  svg {
    @include square(24px);
  }
}
