@use "../../../styles/abstracts/media" as *;
@use "../../../styles/abstracts/mixins" as *;

.projectsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  min-height: 550px;
  min-width: 100vw;
  max-width: 1240px;
  padding-inline: 80px;

  @include desktop {
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    min-height: 710px;
    padding-inline: 0;
  }

  @include mobile {
    gap: 40px;
  }
}

.projectImage {
  height: 280px;
  width: 530px;
  object-fit: cover;
  border-radius: var(--border-radius-large);
}

.projectContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.projectNumber {
  font-size: 48px;
  font-weight: 800;
  color: var(--primary-color-light);
}

.projectTitle {
  @include fluid-text(32, 20);

  font-weight: 700;
  color: var(--primary-color-light);
}

.projectLink {
  transition: all 0.5s ease-in;

  @include hover {
    svg {
      transform: scale(1.1);
    }
  }
  svg {
    @include square(24px);
  }
}
