@use "../../styles/abstracts/media" as *;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include mobile {
    width: 100%;

    button {
      width: 100%;
    }
  }
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 24px;

  @include mobile {
    flex-direction: column;
    width: 100%;
  }
}

.error {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--color-error);
}
